body {
    background-color: #FCF5EB;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 130px;
}

header {
    padding: 14px 32px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fcf5ebb4;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100%;
    z-index: 100;
}

.btn {
    background-color: #25D366;
    padding: 14px 30px;
    font-size: large;
}

.container-fluid {
    padding: 32px;
}

.main-section {
    height: auto;
    display: block;
}

.main-section .main-background img {
    width: 100%;
    border-radius: 20px;
}

.main-background {
    position: relative;
}

.main-content {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 4%;
}

.main-content div {
    width: 400px;
}

.main-content div p {
    font-size: 17px;
    font-weight: 400;
}

.main-content .btn {
    margin-top: 40px;
}

.main-msg img {
    margin-bottom: 5px;
}

.section-2 div img {
    width: 100%;
}

.section-2 .text-content {
    padding: 40px 14%;
}

.section-2 .text-content h2 {
    font-size: 3rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 90%;
    text-align: center;
}

.section-3,
.section-4 {
    padding-top: 6%;
}

section[class^="section-"].d-flex div {
    max-width: 420px;
}

.green span {
    font-size: 30px;
    margin-left: 14px;
}

.section-4,
.footer {
    background-color: #111B21;
}

.green:hover,
h1 span.green {
    color: #25D366;
}

.section-6 {
    gap: 50px
}

.section-6 #front {
    width: 90%;
}

.footer-links {
    padding-top: 60px;
}

.footer {
    padding: 32px 10%;
}

.footer div p {
    margin-bottom: 20px;
    font-size: small;
}

.footer a {
    text-decoration: none;
    margin-bottom: 14px;
    font-size: large;
}

.footer a:hover {
    text-decoration: underline;
}

.social-links a {
    color: #FCF5EB;
    background-color: transparent;
    border: 1px solid #FCF5EB;
    border-radius: 50%;
    padding: 16px;
    font-size: medium;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    transition: all .8s ease-in;
}

.social-links a::after {
    content: "";
    width: 51px;
    height: 51px;
    background-color: #111B21;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: -50%;
    right: -2px;
    z-index: -1;
    transition: .5s ease-in;
    transform: scale(0);
}

.social-links a:hover {
    color: #111B21;
    border-color: transparent;
}

.social-links a:hover::after {
    background-color: #25D366;
    bottom: 0;
    transform: scale(1);
}

select#lang {
    width: 200px;
    color: #FCF5EB;
    font-size: large;
    padding: 14px 20px;
    background-color: transparent;
    border: 2px solid #FCF5EB;
    border-radius: 50px;
    margin-left: 30px;
}

select#lang option {
    color: #111B21;
    background-color: #E9E8E8;
}

.animate {
    transition: opacity .5s;
}

section.show-animate .animate {
    opacity: 1;
}

.navbar-toggler-icon {
    z-index: 1;
}

.collapse {
    flex-grow: 1;
}

@media screen and (max-width: 830px) {
    section[class^="section-"] {
        flex-direction: column;
    }
}
